.sidebarcont {
  width: 18%;
  border: 1px solid red;
}

.adminpagedashboardbox {
  width: 82%;
  text-align: center;
  /* border: 1px solid blue; */
}

.form {
  margin: 2% auto;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .sidebarcont {
    border: 1px solid red;
  }
}

@media screen and (max-width: 550px) {
  .sidebarcont {
    border: 1px solid red;
  }

  .adminpagedashboardbox {
    width: 1100%;
    margin-top: 3.3cm;
    /* border: 1px solid red; */
  }
}

@media screen and (max-width: 1350px) {
  .sidebarcont {
    border: 1px solid red;
  }
}

@media screen and (max-width: 1024px) {
  .sidebarcont {
    border: 1px solid red;
  }
}

@media screen and (max-width: 650px) {
  .sidebarcont {
    border: 1px solid red;
  }

  .form {
    width: 80%;
    margin-top: 0.7cm;
  }
}
